.coupons-container{
	padding-top: 1.5rem;
	bottom: 2.45rem;
}
.order-tips{
	height: 1.5rem;
	line-height: 1.5rem;
	background-color: #fffde5;
	color: #ff8000;
	text-align: center;
	position: fixed;
	top: 2.2rem;
	left: 0;
	right: 0;
    z-index: 1;
}
.couponsCount{
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	background-color: #fff;
	color: #999;
	margin:0.375rem 0;
	position: relative;
}
.couponsCount .coupons-explanation{
    position: absolute;
    width: 4.5rem;
    color: #06c;
	height: 1.5rem;
    line-height: 1.5rem;
}
.icon-tips{
	display: inline-block;
    width: 0.7rem;
    margin-right: 0.2rem;
    position: relative;
    top: 0.1rem;
    color: #ffc790;
}
.icon-tips:before{
	content: "\e904";
    font-size: 0.7rem;
}
.coupons-list{
    padding: 0 0.875rem;
}
.coupons-list .coupons-item{
	margin-bottom: 0.25rem;
	padding: 0.1rem 0.35rem;
    border: 2px solid transparent;
}
.coupons-list .active{
	border:2px solid #06c;
}
.coupons-list .coupons-content{
    padding-top: 0.25rem;
    background: #e96e82;
    height: 4.5rem;
    position: relative;

}
.coupons-list .coupons-content:before,
.coupons-list .coupons-content:after{
	content: "";
    /*background-image: url('../../assets/coupons.png');*/
    background-size: 0.25rem 4.75rem;
    background-position: 0.25rem 4.75rem;
    width: 0.25rem;
    height: 4.75rem;
    position: absolute;
    top: 0;
}
.coupons-list .coupons-content:before{
	left: -0.225rem;
}
.coupons-list .coupons-content:after{
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
    top: 0;
    right: -0.225rem;
}

.coupons-list .coupons-content .amount{
	line-height: 1.875rem;
	height: 1.875rem;
	color: #fff;
	padding-left: 1rem;
}
.coupons-list .coupons-content .amount i{
	font-style: normal;
}
.coupons-list .coupons-content .validity,
.coupons-list .coupons-content .restrict{
	height: 1.25rem;
	line-height: 1.25rem;
	padding-left: 0.5rem;
	color: #fff;
}
 .coupons-list .coupons-content .validity{
 	border-bottom: 2px dashed #d2485e;
 }
.subBtn {
	    position: absolute;
	    bottom: 0;
	    background: #fff;
	    left: 0;
	    right: 0;
	    height: 2.45rem;
	}
  .subBtn a{
  	display: block;
    color: #fff;
	background-color: #ef3030;
 	text-align: center;
    line-height: 2.45rem;
  }

.activate-form{
	background-color: #fff;
	padding:0 1.0rem;
}
.activate-form .form-item{
	padding-top: 0.7rem;
	height: 2.25rem;
	line-height: 2.25rem;
	float: left;
	width: 100%;
	border-bottom: 2px solid #ddd;
}
.activate-form .form-item label{
	width: 2.25rem;
	padding-right: 0.75rem;
	float: left;
	text-align: right;
	color: #666;
}
.activate-form input{
	border : 0 none;
}
.activate-form .subActivate{
	margin: 1.25rem 0 1.0rem;
	float: left;
	width: 100%;
}
.activate-form .subActivate a{
	display: block;
	height: 2.25rem;
	line-height: 2.25rem;
	text-align: center;
	background-color: #ef3030;
	color: #fff;
	border-radius: 0.25rem;
}
.activate-tips{
	margin-top: 0.425rem;
	line-height: 0.8rem;
	color: #999;
	padding:0 1.0rem;
}


/* 支付密码弹出层 */
.coupons-inputPass {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    text-align: center;
}

.coupons-inputPass .inputPass-container{
    width: 16.75rem;
    /* height: 11.5rem; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8.375rem;
    margin-top: -7.5rem;
    background: #fff;

}
.inputPass-container .inputPass-title{
	height: 2.0rem;
	line-height: 2.0rem;
	text-align: center;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
	color: #333;
}
.inputPass-container .inputPass-content{
	padding: 0.5rem 0.75rem 0.65rem;
}
.inputPass-content .inputPass-tips{
	line-height: 1.05rem;
	color: #666;
    text-align: left;
}
.inputPass-content .inputPass-txt{
	margin-top: 0.5rem;
	height: 2.15rem;
	border:1px solid #bbb;
	-webkit-border-radius: 0.1rem;
	border-radius: 0.1rem;
}
.inputPass-content .inputPass-txt input{
	line-height: 2.15rem;
	height: 100%;
	width: 100%;
	padding:0.25rem;
	border:0 none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.inputPass-content .forgetPass{
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: right;
}
.inputPass-content .forgetPass a{
	color: #06c;
}
.inputPass-container .inputPass-btn{
	height: 2.0rem;
	line-height: 2.0rem;
	border-top: 1px solid #ddd;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}
.inputPass-container .inputPass-btn a{
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
  	flex: 1;
  	display: block;
  	color: #333;
}
.inputPass-container .inputPass-btn .confirm{
	color: #ef3030;
	border-left: 1px solid #ddd;
}
.coupons-tips article{
    background: #fff;
    width: 80%;
    margin: 45% auto 0;
    padding: 1rem;
    line-height: 1.125rem;
    position: relative;
    color: #333;
}
.coupons-tips .close{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 0.8rem;
    line-height: 1rem;
    width: 1rem;
    text-align: center;
    color: #ef3030;
}
.coupons-tips article p{
    padding-left: 0.5rem;
    position: relative;
}
.coupons-tips article p span{
    position: absolute;
    width: 0.5rem;
    height: 1rem;
    line-height: 1rem;
    left: 0;
    top: -0.2rem;
    font-size: 1rem;
}

[data-dpr="1"] .order-tips,
[data-dpr="1"] .activate-tips{
	font-size: 13px;
}
[data-dpr="2"] .order-tips,
[data-dpr="2"] .activate-tips{
	font-size: 26px;
}
[data-dpr="3"] .order-tips,
[data-dpr="3"] .activate-tips{
	font-size: 39px;
}

[data-dpr="1"] .couponsCount,
[data-dpr="1"] .coupons-list .coupons-content .validity{
	font-size: 12px;
}
[data-dpr="2"] .couponsCount,
[data-dpr="2"] .coupons-list .coupons-content .validity{
	font-size: 24px;
}
[data-dpr="3"] .couponsCount,
[data-dpr="3"] .coupons-list .coupons-content .validity{
	font-size: 36px;
}
[data-dpr="1"] .coupons-list .coupons-content .amount{
	font-size: 34px;
}
[data-dpr="2"] .coupons-list .coupons-content .amount{
	font-size: 68px;
}
[data-dpr="3"] .coupons-list .coupons-content .amount{
	font-size: 102px;
}

[data-dpr="1"] .coupons-list .coupons-content .amount i,
[data-dpr="1"] .subBtn a,
[data-dpr="1"] .inputPass-container .inputPass-title{
	font-size: 17px;
}
[data-dpr="2"] .coupons-list .coupons-content .amount i,
[data-dpr="2"] .subBtn a,
[data-dpr="2"] .inputPass-container .inputPass-title{
	font-size: 34px;
}
[data-dpr="3"] .coupons-list .coupons-content .amount i,
[data-dpr="3"] .subBtn a,
[data-dpr="3"] .inputPass-container .inputPass-title{
	font-size: 51px;
}
[data-dpr="1"] .coupons-list .coupons-content .restrict{
	font-size: 12px;
}
[data-dpr="2"] .coupons-list .coupons-content .restrict{
	font-size: 20px;
}
[data-dpr="3"] .coupons-list .coupons-content .restrict{
	font-size: 30px;
}
